name: Daily Job

# Her gün saat 08:00'de çalışacak (UTC+0), Türkiye saatiyle 11:00
on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      # Repo’yu çek
      - uses: actions/checkout@v4

      # Python kur
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Gereksinimleri kur
      - run: pip install -r requirements.txt

      # Python scriptini çalıştır
      - run: python main.py

      # Commit ve push işlemi (ad-m/github-push-action kullanıyoruz)
      - name: Commit ve push www/
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          directory: www
          commit_message: "Otomatik güncelleme"
