name: Hourly Job

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - run: python main.py

      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git status
          git add www/
          git commit -m "Saatlik otomatik güncelleme" || echo "Değişiklik yok"
          git push          branch: main
          directory: www
          commit_message: "Otomatik güncelleme - saatlik"
